body {
  background-color: #000;
  min-height: 100vh;

  .header-karol {
    background-image: url("../assets/img/tree.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: absolute;
    overflow: hidden;
    //transform: translateY(150%);
    // transition: transform 1.5s linear;
    width: 100%;

    // &--visible {
    //   transform: translateY(0);
    // }

    &__icons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 20px 0 20px 0;
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 3;
    }

    &__link {
      cursor: default;
    }

    &__icon {
      cursor: pointer;
      display: inline-block;
      margin-right: 20px;
      width: 25px;

      @media (min-width: 1024px) {
        margin-right: 60px;
        width: 40px;
      }
    }

    .mobileMove {
      left: 0;
    }

    .background__filter {
      background-color: rgba(0, 0, 0, 0.678);
      bottom: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .menu__switcher {
      background: transparent;
      border: 0;
      border-top: solid #fff 5px;
      display: block;
      height: 30px;
      left: 20px;
      opacity: 0.75;
      padding: 0;
      cursor: pointer;
      position: fixed;
      top: 20px;
      // transform: translateX(-500%) scale(0.01);
      transition: transform 1s 1s linear;
      width: 35px;
      z-index: 3;

      &--visible {
        display: block;
        opacity: 1;
        // transform: translateX(0) scale(1);
      }

      &::before,
      &::after {
        content: "";
        border-top: solid #fff 5px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      &::before {
        transform: translateY(10px);
        transition: transform 0.3s linear;
      }

      &::after {
        transform: translateY(25px);
        transition: transform 0.3s linear;
      }

      &.no__active {
        border-top: 0;

        &::after {
          transform: rotateZ(-40deg);
        }

        &::before {
          transform: rotateZ(40deg);
        }
      }
    }

    .navigation {
      background-color: rgba(0, 0, 0, 0.9);
      bottom: 0;
      clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      left: -120%;
      position: fixed;
      top: 0;
      transition: left 1.3s cubic-bezier(0.77, 0, 0.175, 1);
      width: 50%;
      z-index: 2;

      &__list {
        display: flex;
        flex-direction: column;
        height: 50%;
        justify-content: space-around;
        letter-spacing: 3px;
        list-style: none;
        padding: 0 20px 0 20px;

        @media (min-width: 1024px) {
          height: 60%;
        }
      }

      &__item {
        cursor: pointer;
        text-align: center;

        @media (min-width: 1024px) {
          line-height: 3rem;
        }

        &:nth-child(2) {
          position: relative;
        }
      }

      &__link,
      .navigation__item:nth-child(2) {
        color: $white;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          font-size: 1.2rem;
        }

        @media (min-width: 1024px) {
          font-size: 2rem;
          letter-spacing: 5px;

          &:hover {
            font-size: 2.2rem;
          }
        }
      }

      .submenu {
        align-items: center;
        background-color: $white;
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
        display: flex;
        flex-direction: column;
        min-height: 120px;
        justify-content: space-around;
        left: -5%;
        list-style: none;
        padding: 10px;
        position: absolute;
        top: 40px;
        transform: translateX(-130%);
        transition: all 0.6s linear;
        width: 120%;

        &__element {
          color: $white;
        }

        &__link {
          color: $black;
          cursor: pointer;
          text-decoration: none;
          text-transform: uppercase;

          &:hover {
            font-size: 1.5rem;
          }

          @media (min-width: 1024px) {
            font-size: 1.2rem;
          }
        }

        &--visible {
          display: flex;
          transform: translateX(0);
        }
      }

      @media (min-width: 1024px) {
        width: 40%;
      }
    }

    .mobileMove {
      left: 0;
    }

    .section--photography {
      align-content: flex-start;
      background-color: rgba(255, 255, 255, 0.6);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      min-height: 100%;
      justify-content: center;
      // margin-top: 100px;
      padding: 80px 40px 80px 40px;
      position: relative;
      // transform: translateX(-130%) scale(0.01);
      transition: all 1s 1s linear;

      &--visible {
        opacity: 1;
        // transform: translateX(0%) scale(1);
      }

      .instagram-feed--container {
        align-items: center;
        display: flex;
        flex-direction: column;

        .instagram_profile {
          align-items: center;
          display: flex;
          flex-direction: column;

          .instagram_profile_image {
            border-radius: 50%;
            width: 100px;
          }
        }

        .instagram_gallery {
          align-items: center;
          display: flex;
          flex-direction: column;

          @media(min-width: 1024px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
          }

          .instagram-image,
          .instagram-sidecar {
            width: 50%;
            margin: 40px;

            @media(min-width: 1024px) {
              width: 20%;
            }

            img {
              width: 100%;
            }
          }
        }
      }

      // &__link { -------------------- styles for Instagram photos using without Instagram feed library
      //   cursor: default;
      // }

      // &__img {
      //   margin: 10px;
      //   width: 120px;

      //   &:nth-child(odd) {
      //     width: 160px;

      //     @media (min-width: 1024px) {
      //       width: 300px;
      //     }
      //   }

      //   &:hover {
      //     cursor: pointer;
      //   }

      //   @media (min-width: 1024px) {
      //     margin: 40px;
      //     width: 250px;
      //   }
    }

    .footer {
      bottom: 0;
      background-color: #000;
      display: flex;
      flex-direction: column;
      height: 161px;
      justify-content: center;
      position: relative;

      &__paragraph {
        color: #fff;
        width: 100%;
        text-align: center;
      }
    }
  }
}