body {
    height: 100vh;

    .header {
        background-image: url("../assets/img/camera.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        position: relative;
        overflow: hidden;

        &__icons {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding: 20px 0 20px 0;
            position: absolute;
            width: 100%;
            top: 0;
        }

        &__icon {
            display: inline-block;
            margin-right: 20px;
            width: 25px;
        }

        .menu__switcher {
            background: transparent;
            border: 0;
            border-top: solid #fff 5px;
            display: block;
            height: 30px;
            left: 20px;
            padding: 0;
            position: fixed;
            top: 20px;
            width: 35px;
            z-index: 2;

            &::before,
            &::after {
                content: "";
                border-top: solid #fff 5px;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }

            &::before {
                transform: translateY(10px);
            }

            &::after {
                transform: translateY(25px);
            }
        }

        .navigation {
            background-color: rgba(255, 255, 255, 0.5);
            bottom: 0;
            display: none;
            flex-direction: column;
            justify-content: space-around;
            position: fixed;
            top: 0;

            &__list {
                display: flex;
                flex-direction: column;
                height: 50%;
                justify-content: space-around;
                letter-spacing: 3px;
                list-style: none;
                padding: 0 20px 0 20px;
            }

            &__item {
                text-align: center;
            }

            &__link {
                color: $black;
                text-decoration: none;
                text-transform: uppercase;
            }

        }
    }
}