body {
  height: 100vh;

  .header {
    background-image: url("../assets/img/camera.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    overflow: hidden;

    &__icons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 20px 0 20px 0;
      position: absolute;
      width: 100%;
      top: 0;
    }

    &__icon {
      display: inline-block;
      margin-right: 20px;
      width: 25px;
    }

    .menu__switcher {
      background: transparent;
      border: 0;
      border-top: solid #fff 5px;
      display: block;
      height: 30px;
      left: 20px;
      padding: 0;
      position: fixed;
      top: 20px;
      width: 35px;
      z-index: 3;

      &::before,
      &::after {
        content: "";
        border-top: solid #fff 5px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      &::before {
        transform: translateY(10px);
        transition: transform 0.3s linear;
      }

      &::after {
        transform: translateY(25px);
        transition: transform 0.3s linear;
      }

      &.no__active {
        border-top: 0;

        &::after {
          transform: rotateZ(-40deg);
        }

        &::before {
          transform: rotateZ(40deg);
        }
      }
    }

    .background__filter {
      background-color: rgba(0, 0, 0, 0.5);
      bottom: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .navigation {
      background-color: rgba(0, 0, 0, 0.9);
      bottom: 0;
      clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      left: -120%;
      position: fixed;
      top: 0;
      transition: left 0.5s cubic-bezier(0.77, 0, 0.175, 1);
      width: 45%;
      z-index: 2;

      &__list {
        display: flex;
        flex-direction: column;
        height: 50%;
        justify-content: space-around;
        letter-spacing: 3px;
        list-style: none;
        padding: 0 20px 0 20px;
      }

      &__item {
        text-align: center;
      }

      &__link {
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    .mobileMove {
      left: 0;
    }

    .introduction {
      background-color: rgba(255, 255, 255, 0.8);
      letter-spacing: 3px;
      padding: 10px;
      position: absolute;
      text-transform: uppercase;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;

      &__header {
        font-size: 1.2rem;
        text-align: center;
      }

      &__description {
        text-align: center;
      }

      &__link {
        color: $black;
        text-decoration: none;
      }
    }
  }
}